# Foundry
out/
cache/
broadcast/

# Environment
.env

# Node (legacy)
node_modules/
.venv-slither/

# Coverage
coverage/
coverage.json
lcov.info

# IDE
.vscode/
.idea/

docs/

# ignore pdf, md
*.pdf
*.md
